html, body {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 40px;
}

.footer {
  padding: 15px;
  text-align: center;
  background: linear-gradient(to right, #e1d8e2, #6410bd);
}
.navbar {
  padding: 15px;
  text-align: left;
  background: linear-gradient(to right, #c6ceda, #6410bd);
}
.home-container {
  width: 100%;
}

.title {
  margin-bottom: 20px;
  background: linear-gradient(to right, #6faa85, #3b82f6, #a855f7);
  -webkit-background-clip: text;
  color: transparent;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.form-section {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

input {
  outline: none;
}

.form {
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}
